body {
  margin: 0;
  padding: 0;
}
.navigation {
  margin-top: 23px ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 74px;
  /*background-color: salmon;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  height: 395px;
/* background-color: rgb(201, 232, 246);*/
  margin-top: 32px;
    display: flex;
 padding: 9px;
 
position: relative;
}
.content::after{
  content:"";
  background-image: url(../images/jess.jpg);
  position: absolute;
  width: 800px;
  height:inherit ;
  opacity: 0.15;
}

.footer {
  height: 90px;
  /*background-color: lightgreen;*/
}
.nav-left {
  font-size: 50px;
  display: flex;
  align-items: center;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 20px;
  font-weight: bold;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
}
.nav-left ul li a:hover {
color: var(--main-bg-color);
font-weight: bolder;
}
.nav-left ul li a {
  text-decoration: none;
  color: black;
}

.content-left{
font-family: var(--font2);
display: flex;

flex-direction: column;
}
.content-right{
  width: 50%;
display: flex;
align-items: center;
justify-content: center;

}
.content-right img{
 
  height: 220px;
  border: 2px solid black;
  border-radius: 200px;
  padding: 0px;
  width: 220px;
}
.home-articles{

padding-top: 12px;

}
.home-article{
  display: flex;
  margin: 25px ;
}
.home-article img{
  width: 250px;
}
.home-article-content{
  align-self: center;
  padding: 25px;
}
.footer{
  height: 65px;
  background-color: rgb(117, 68, 68);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  
}
.footer a{
  color: white;
}